.big_div1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-self: center;
  max-width: 1500px;
  width: 100%;
  text-align: center;
  background: url("../../public/images/backer.svg") top center no-repeat;
}
.wrap_doctors {
  height: 6000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 776px;
  width: 100%;
  margin: auto auto 85px auto;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.doctors {
  width: 271px;
  height: 35px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.block1 {
  resize: vertical;
  background: #FFFFFF;
  border: 1px solid #99DDD5;
  box-sizing: border-box;
}
.container_b1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 696px;
  width: 100%;
  margin: 10px auto;
}
.photo1 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/volodymyr.jpg") center center no-repeat;
  background-size: cover;
}
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.head1 {
  width: 305px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #009986;
}
.info1 {
  width: 344px;
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #8E8E8E;
}
.text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo2 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d1.jpg") center center no-repeat;
  background-size: cover;
}
.photo3 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d2.jpg") center center no-repeat;
  background-size: cover;
}
.text3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo4 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d3.jpg") center center no-repeat;
  background-size: cover;
}
.text4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo5 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d4.jpg") center center no-repeat;
  background-size: cover;
}
.text5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo6 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d6.jpg") center center no-repeat;
  background-size: cover;
}
.text6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo7 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d7.jpg") center center no-repeat;
  background-size: cover;
}
.text7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo8 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d8.jpg") center center no-repeat;
  background-size: cover;
}
.text8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo9 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d9.jpg") center center no-repeat;
  background-size: cover;
}
.text9 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo10 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d10.jpg") center center no-repeat;
  background-size: cover;
}
.text10 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo11 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d11.jpg") center center no-repeat;
  background-size: cover;
}
.text11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo12 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d12.jpg") center center no-repeat;
  background-size: cover;
}
.text12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.photo13 {
  margin-top: 53px;
  width: 197px;
  height: 247px;
  background: url("../../public/images/d13.jpg") center center no-repeat;
  background-size: cover;
}
.text13 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 424px;
}
.big_image {
  width: 747px;
  height: 463px;
  margin-right: auto;
  margin-left: auto;
}
.wr1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}
@media (max-width: 700px) {
  .wrap_doctors {
    margin: auto 5px;
  }
}
@media (max-width: 700px) {
  .big_image {
    width: 365px;
    height: 226.23px;
  }
  .big_div1 {
    height: 6400px;
  }
  .wrap_doctors {
    width: 365px;
    height: 5800px;
    margin: auto auto 70px auto;
  }
  .block1 {
    width: 365px;
  }
  .f0 {
    width: 101px;
    height: 126px;
  }
  .wr1 {
    margin: 25px auto;
    width: 340px;
  }
  .wrap1 {
    width: 226px;
  }
  .photo1,
  .photo2,
  .photo3,
  .photo4,
  .photo5,
  .photo6,
  .photo7,
  .photo8,
  .photo9,
  .photo10,
  .photo11,
  .photo12,
  .photo13 {
    display: none;
  }
  .head1 {
    width: 213px;
  }
  .info1 {
    width: 220px;
  }
  .bigt1,
  .t1_l1,
  .t1_l2 {
    width: 327px;
    margin: 15px auto;
  }
}
@media (min-width: 700px) {
  .f0 {
    display: none;
  }
  .text13,
  .text12,
  .text11,
  .text10,
  .text9,
  .text8 {
    height: 200px;
  }
  .text7,
  .text6,
  .text5 {
    height: 240px;
  }
  .text1 {
    height: 387px;
  }
  .text2 {
    height: 267px;
  }
  .text3 {
    height: 250px;
  }
  .text4 {
    height: 180px;
  }
}
/*# sourceMappingURL=doctors.css.map */